{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>New Commit in {{ repo.name }}</h2>
  <div class="row">
    <div class="col-md-8">   {# roughly 2/3 width, left-aligned #}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Save Commit</button>
        <a class="btn btn-link"
           href="{% url 'repos_app:commit_list' repo.pk %}">
          Cancel
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
