{% extends "base.html" %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="{% url 'repos_app:repo_list' %}">My Repositories</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'repos_app:repo_detail' pk=repo.pk %}">{{ repo.name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'repos_app:commit_list' repo_pk=repo.pk %}">Commits</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ commit.hash|slice:":7" }}
    </li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Commit {{ commit.hash }}</h2>
  <div class="row">
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-sm-3">Message</dt>
        <dd class="col-sm-9">{{ commit.message }}</dd>

        <dt class="col-sm-3">Author</dt>
        <dd class="col-sm-9">{{ commit.author.username }}</dd>

        <dt class="col-sm-3">When</dt>
        <dd class="col-sm-9">{{ commit.timestamp|date:"M j, Y, P" }}</dd>
      </dl>
      <a class="btn btn-link"
         href="{% url 'repos_app:commit_list' repo_pk=commit.repository.pk %}">
        ← Back to commits
      </a>
    </div>
  </div>
</div>
{% endblock %}
